@media (min-width: 350px) {
    .mobile-menu .user-icon-container .user-menu li {
      
      font-size: 1rem;
      
    }
  }
  
  @media (min-width: 420px) {
    .mobile-menu .user-icon-container .user-menu li {
      
      font-size: 1.3rem;
      
    }
  }

  @media (min-width: 768px) {
    .header {
      .header-desktop{
        width: 100%; 
        display: flex;

      }
    }
    .cartMobile{
        display:none;
    }
  }