@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font:'Roboto', sans-serif;

$primary-color: #74873D; // Verde principal
$secondary-color: #ED8B00; // Naranja secundario

$primary-black-color: #222222;
$primary-white-color: #FFFFFF;

$shadow-green-color: #2F3814; // Sombra basada en un verde oscuro