@import '../../abstract/variables';
.admi-page {
  width: 100%;
  min-height: 100vh;
  h2 {
    padding-bottom: 10px;
  }
  button {
    min-height: 35px;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: rgb(237, 237, 237);
    cursor: pointer;
    &:hover {
      background-color: darken(rgb(237, 237, 237), 15%);
    }
  }
  .admi-nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    h2 {
      padding-bottom: 10px;
    }

    .nav-button {
        min-height: 35px;
        width: 100px;
        padding: 5px;
        border-radius: 8px;
        border: none;
        background-color: rgb(237, 237, 237);
        cursor: pointer;
        display: inline-flex; /* Flexbox para centrar el contenido */
        align-items: center; /* Centrar verticalmente */
        justify-content: center; /* Centrar horizontalmente */
        text-decoration: none; /* Eliminar subrayado del enlace */
        color: black; /* Color del texto */
      
        &:hover {
          background-color: darken(rgb(237, 237, 237), 15%); /* Fondo más oscuro al pasar el mouse */
        }
      
        &.active {
          background-color:$primary-color; /* Color de fondo cuando está activo */
          border: none;
          color: white; /* Borde visible cuando está activo */
        }
      }
    .admi-btn {
      display: flex;
      justify-content: space-evenly;
      
    }
  }
  .new-btn {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-right: 40px;
    button {
      min-width: 180px;
    }
  }
  .category-list {
    width: 100%;
    height: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;

    .category-item {
      background-color: #d9d9d9;
      display: flex;
      width: 100%;
      padding: 10px;
      gap: 10px;
      .category-img {
        width: 100px;
        height: 100px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
    .category-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;
      align-items: center;
    
     
      .top-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .title {
          width: 100%;
        }
        .category-button {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 10px;
          .delete-btn {
            background-color: rgb(222, 42, 42);
            color: white;
            border: white;
            &:hover {
              background-color: darken(rgb(222, 42, 42), 15%);
            }
          }
          .button {
            span {
              display: inline;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .category-button {
    .delete-btn span,
    .mod-btn span {
      display: none;
    }
    button {
      width: 40px !important;
    }
  }
}
