@import'../../abstract/variables';
.admi-page {
  .product-list {
    width: 100%;
    height: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;

    .product-item {
      background-color: #d9d9d9;
      display: flex;
      width: 100%;
      padding: 10px;
      gap: 10px;
      .product-img {
        width: 100px;
        height: 100px;
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
    .product-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;
      align-items: center;
      .row {
        padding: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        position: relative;
        .desplegable {
            button{
                &.active{
                    background-color: darken(rgb(237, 237, 237), 25%);
            }}
          .category-dropdown {
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            position: absolute;
            width: 200px;
            max-width: 90%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            right: 0;
            transform: translateX(0);
            z-index: 1000;
            h4 {
                text-align: center;
                margin-bottom: 10px;
              }
              label {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
              }
              input{
                cursor: pointer;
              }
    
          }

          .btn {
            display: flex;
            justify-content: center;
            .confirm-btn {
              margin-top: 10px;
              background-color: $primary-color;
              color: white;
              border: none;
              padding: 5px 10px;
              cursor: pointer;
              &:hover{
                background-color: darken($primary-color,15%);
              }
            }
          }
        }
      }
      .top-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .title {
          width: 100%;
        }
        .product-button {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 10px;
          .delete-btn {
            background-color: rgb(222, 42, 42);
            color: white;
            border: white;
            &:hover {
              background-color: darken(rgb(222, 42, 42), 15%);
            }
          }
          .button {
            span {
              display: inline;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .product-button {
    .delete-btn span,
    .mod-btn span {
      display: none;
    }
    button {
      width: 40px !important;
    }
  }
}
