@import '../abstract/variables';


/* Animación para abrir el menú desde la derecha */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Animación para cerrar el menú hacia la izquierda */
@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.header {
  .header-desktop {
    display: flex;
    width: 100%;
    background-color: #ffffff;

    align-items: center;
    justify-content: space-between;
    .widgets{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        img{
            padding: 0.5rem;
            
        }
    }
    .logo{
        width: 160px;
    }
}
  .header-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    position: relative;
    .cart-widget{
      position: relative;
      .cart-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 4px 8px;
        font-size: 0.8em;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 20px;  // Asegura que el círculo siempre tenga un tamaño mínimo
      }
    
    }
    .logo {
      width: 165px;
      cursor: pointer;
      position: relative;
      right: 4px;
    }
    .hamburgesa {
      width: 38px;
      cursor: pointer;
    }
    .mobile-menu {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      position: absolute;
      top: 0px;
      right: 0;
      width: 100%;
      padding: 2rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      z-index: 10;
      &.open {
        animation-name: slideInFromRight;
      }
      &.close {
        animation-name: slideOutToLeft;
      }
      .social-media {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          padding: 1rem;
          img {
            width: 34px;
          }
        }
      }
      .sessionContainer {
        display: flex;
        justify-content: end;
        .user-menu {
          list-style: none;
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          align-items: center;
          opacity: 0;
          transform: translateX(100%);
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
          &.open {
            animation-name: slideInFromRight;
          }
          
          &.close {
            animation-name: slideOutToLeft;
          }
          li {
            padding: 0.5rem;
            text-align: center;
            font-size: 0.7rem;
            width: 48%;
            border: solid 1px $primary-color;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            height: 65%;
            
          }
        }
        .user-icon-container {
          display: flex;
          justify-content: end;
          align-items: center;
          cursor: pointer;
          background-color: $primary-color;
          padding: 0.5rem;
          width: fit-content;
          border-radius: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          -o-border-radius: 100%;
          img {
            width: 40px;
          }
        }
      }
    }
  }
}

.cierreYlogo {
  display: flex;
  align-items: center;
  .close-icon {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .closeIcon {
    width: 45px;
    height: 45px;
    position: relative;
    right: 6px;
  }
}

.nav-horizontal {
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    li {
      a {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
        &.active {
          color: $primary-color; 
          font-weight: bold; 
        }
        &:hover{
            color: $primary-color;
        }
      }
    }
  }
}

.nav-vertical {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    width: 100%;
    li {
      a {
        text-decoration: none;
        color: #333;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        &.active {
          color: $primary-color; /* Color distintivo para el enlace activo */
          font-weight: bold; /* Negrita para destacar */
        }
        &:hover {
            color: $primary-color;
          }
      }
    }
  }
}

.header-desktop {
  display: flex;
  padding: 2rem;
  .cart-widget{
    position: relative;
    .cart-count {
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 4px 8px;
      font-size: 0.8em;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 20px;  // Asegura que el círculo siempre tenga un tamaño mínimo
    }
  
  }
  .nav-horizontal{
    display: flex;
    li{
      a{
        font-size: 0.90rem;
      }
      
    }
  }

  .sessionContainer {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem;
    .user-icon-container {
      position: relative;
      display: inline-block;
      cursor: pointer;
      background-color: $primary-color;
      width: fit-content;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      &:hover{
        background-color: $shadow-green-color;
        box-shadow: $shadow-green-color 1px 1px 3px 1px;
      }

      .user-icon {
        width: 35px;
        height: 35px;
        padding: 0.4rem;
      }
      
     
    }
    .user-menu {
      position: absolute;
      top: 80px; /* Ajusta según el tamaño del ícono */
      right: 33px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      list-style: none;
      padding: 10px 0;
      margin: 0;
      width: 150px;
      opacity: 0;
      transform: translateY(-10px);
      animation: fadeIn 0.3s forwards;
      z-index: 1000;
  
      li {
        padding: 10px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
 
}